[submodule "external/lsplant"]
	path = external/lsplant
	url = https://github.com/JingMatrix/LSPlant.git
[submodule "external/dobby"]
	path = external/dobby
	url = https://github.com/JingMatrix/Dobby.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "patch/libs/manifest-editor"]
    path = axml/libs/manifest-editor
    url = https://github.com/WindySha/ManifestEditor.git
[submodule "external/xz-embedded"]
	path = external/xz-embedded
	url = https://github.com/tukaani-project/xz-embedded
[submodule "apache/commons-lang"]
	path = apache/commons-lang
	url = https://github.com/apache/commons-lang
[submodule "external/lsplt"]
	path = external/lsplt
	url = https://github.com/JingMatrix/LSPlt
